html{
  height: 100%;
}

body {
    min-height: 100%;
    margin: 17px;
    background: linear-gradient(180deg, grey 50%, white 50%);
}

.container {
    background: linear-gradient(180deg, white 75%, grey 25%);
}

@media (max-width: 1366px) {
    body {
        min-height: 100%;
        margin: 5px;
        background: linear-gradient(180deg, grey 66.5%, white 33.5%);
    }

    .container {
        background: linear-gradient(180deg, white 72%, grey 28%);
    }
}

footer {
    color: black;
}

a {
    color: black;
}

.card-columns {
   column-count: 2;
}

footer p {
    margin: 0;
    padding: 0;
}
