body {
    background: linear-gradient(180deg, grey 66.5%, white 33.5%);
}

.container {
    background: linear-gradient(180deg, white 72%, grey 28%);
}

footer {
    color: black;
}

a {
    color: black;
}

.card-columns {
   column-count: 2;
}

footer p {
    margin: 0;
    padding: 0;
}
